[user]
	name = Alex
	email = wangyiming@bohong.fund
[color]
        #status = auto
	branch = auto
	interactive = auto
	diff = auto
[core]
	editor = vi
	quotepath = false
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
